@use './variables' as *;

:root {
	--font-family: #{$fontFamily};

	--color-bg-primary: #{$colorBgPrimary};
	--color-bg-accent: #{$colorBgAccent};
	--color-bg-reduced: #{$colorBgReduced};
	--color-bg-surface: #{$colorBgSurface};

	--color-text-primary: #{$colorTextPrimary};
	--color-text-secondary: #{$colorTextSecondary};
	--color-text-dark: #{$colorTextDark};

	--color-semantic-error: #{$colorSemanticError};

	--gradient-start: #{$gradientStart};
	--gradient-end: #{$gradientEnd};
}
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
	animation-duration: 1s;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: #{$fontSize + px};
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.4;
	font-family: var(--font-family);
	color: var(--color-text-primary);
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: var(--font-family);
	font-size: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
	background-color: inherit;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
//-webkit-overflow-scrolling: touch;
/*
&::-webkit-scrollbar {
	display: none;
}
*/


.flex {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	&.center {
		justify-content: center;
		align-items: center;
	}
	&.between {
		justify-content: space-between;
	}
	&.gap-10 {
		gap: 10px;
	}
	&.gap-20 {
		gap: 20px;
	}
	&.gap-30 {
		gap: 30px;
	}
	&.gap-40 {
		gap: 40px;
	}
	&.gap-50 {
		gap: 50px;
	}
}

.grid {
	width: 100%;
	display: grid;
	&.column-2 {
		grid-template-columns: repeat(2, 1fr);
	}
	&.column-3 {
		grid-template-columns: repeat(3, 1fr);
	}
	&.column-4 {
		grid-template-columns: repeat(4, 1fr);
	}
	&.column-5 {
		grid-template-columns: repeat(5, 1fr);
	}
	&.gap-10 {
		grid-gap: 10px;
	}
	&.gap-20 {
		grid-gap: 20px;
	}
	&.gap-30 {
		grid-gap: 30px;
	}
	&.gap-40 {
		grid-gap: 40px;
	}
}

body {
	width: 100%;
	height: 100%;
	background-color: $mainBackground;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
	width: 100%;
}

.container {
	max-width: $maxWidthContainer;
	width: 100%;
	margin: 0 auto;
}

.Toastify {
	position: absolute;
}

.section-title {
	width: 100%;
	margin-bottom: 30px;
	h2, h1 {
		font-family: var(--font-family);
		font-size: 36px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		color: var(--color-text-primary);
		@media(max-width: $md3) {
			font-size: 28px;
		}
	}

	p {
		color: var(--color-text-secondary);
		text-align: center;
		font-family: var(--font-family);
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		@media(max-width: $md3) {
			font-size: 16px;
		}
	}
}

.burger-btn {
	width: 30px;
	display: block;
	padding: 0;
	margin: 0;
	background: unset;
	position: relative;
	span {
		width: 100%;
		height: 2px;
		margin-bottom: 9px;
		position: relative;
		transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
		transform: rotate(0deg);
		display: block;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&.close {
		span {
			margin: 0;
			&:nth-child(1) {
				transform: rotate(45deg);
				top: 4px;
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: rotate(-45deg);
				top: 0;
			}
		}
	}
}

.home-page {
	width: 100%;
	padding: 20px;
	.home-page__container {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 20px;
		@media(max-width: $md2) {
			flex-direction: column;
		}
	}
}